footer{
  font-size: 10px;
  padding: 30px;
}

.navbar-default{
  background: #fff;
  border:0;
  font-family: PT Sans Narrow;
}

.navbar-brand{
  font-size: 20px;
  color:#000 !important;
  font-weight: bold;
}
