h1{
  color: white;
  text-align: center;
}
a:link{
  color: rgb(33,16,16);
  background-color: transparent;
  text-decoration: none;
}
body {
    background-color: lightblue;
}

p{
  font-family: verdana;
  font-size: 20px;
}
ol{
  color: rgb(8,158,245);
}

html{
  background:rgb(224,224,224,);
}
