h1{
  font-family: 'Permanent Marker';
  /*text-align: center;*/
}
h2{
  font-family: 'Permanent Marker';
  /*text-align: center;*/
}
label{
  font-family: 'Permanent Marker';
}

p{
  font-family: 'Playfair Display', serif;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20;
}
body{
  background-color: #011627;
    /*background: url("4.jpg");*/
    color: #FDFFFC;
    text-align: center;
    border: 20px solid #63E2FF;
    /*border-top: 0px;*/
    margin: 0px;
    /*background-repeat: no-repeat;*/
    /*background-position: top;*/
    /*background-color: #63E2FF;*/
}

form{
  font-size: 1.2em;
  margin-bottom: 10px

}

#sub{
  background-color: #FF9F1C;
  border-radius: 40px;
  margin: 4px;
  margin-top: 12px;
  font-size: 0.7em;
}
