{% load static %}

<!DOCTYPE html>
<html lang="es">
	<head>
	<title>Cotactanos</title>
	<link rel="stylesheet" href="{% static 'css/contactanos.css' %}">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="{%  static 'js/main.js' %}"> </script>

	<link rel="icon" href="imgs/favIcon.png">
	<link href="https://fonts.googleapis.com/css?family=Poppiins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500"rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
	<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
	<script src="http://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>


	</head>

        <header>
          <!-- barra de menu -->
          <div class="row">
            <div class="logo">
              <img src="{% static 'imgs/pitospitos.png' %}">
            </div>
            <div class="container">
              <ul class="main-nav">
                <li><a href="/#/">Home<i class="fa fa-birthday-cake"></i></a></li>
                <li><a href="https://www.facebook.com/pg/Postres-y-Manualidades-DC-1107812365899116/photos/?ref=page_internal">Galería <i class="fa fa-facebook-official"></i></a></li>
                <!-- <li><a href="/cotizaciones/">Cotización <i class="fa fa-money"></i></a></li> -->
                <li><a href="/cotizaciones/">Cotización <i class="fa fa-money"></i></a></li><hr>
                <!-- <li><a href="#faq">FAQ <i class="fa fa-comments"></i></a></li> -->
              </ul>
            </div>
          </div>

        </header>

  <body id="contacto">
  <div class="container">
    <h1>Contactanos</h1>
    {% if info_enviado %}
        <p>Gracias por enviar un comentario, nos pondremos en contacto contigo lo mas pronto posible.</p> -->



    <p>Email utilizado: {{email}}</p>
    <p> Titulo utilizado: {{titulo}}</p>
      <p> Texto utilizado: {{ Texto }}</p>

    {% else %}
    <form enctype="multipart/form-data" action="."method="POST">
        {% csrf_token %}

          {{form.as_p}}

        <input id="post"type="submit" value="submit">
    </form>

    {% endif %}
  </div>

  <script>
  $(function() {
    // Smooth Scrolling
    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
  </script>
  </body>
</html>
