<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contactanos</title>
</head>
<body>
{% if info_enviado %}
    Gracias por enviar un comentario, nos pondremos en contacto contigo lo mas pronto posible.
    <br>
    La infomacion fue la siguiente
<p> Email utilizado: {{email}}</p>
<p> Titulo utilizado: {{titulo}}</p>

{% else %}
<form action="."method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="submit">
</form>

{% endif %}
</body>
</html>