{% extends "base.html" %}
{% block title %}FAQ{% endblock %}
{% block head %}<link rel="stylesheet" href="/static/css/cotizar.css">{% endblock %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
	<head>
	<title>Cotizaciones</title>
	<link rel="stylesheet" href="{% static 'css/cotizar.css' %}">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{%  static 'js/main.js' %}"> </script>
    <link href="https://fonts.googleapis.com/css?family=Poppiins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500"rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{#	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">#}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="http://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
          <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Slab" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans+Narrow" />
	</head>
	<body>
    <div class="container">

		<h1>Cotiza tu Pastel</h1>
		<section id="Pasteles">
			<ul id="listaTamano">
                <h2>Tamaño del pastel</h2>
                {% for p in tamano %}
                    <li class="text-center" style="background: white">{{p.nombre}}<span class="multiplicador">{{p.multiplicador}}</span></li>
                {% endfor %}
			</ul>

			<ul id="listaTipoPan">
                <h2>Tipo de pan</h2>
                {% for p in tipoPan %}
                    <li class="text-center" style="background: white"><span class="precio">{{p.precio}}</span><img src="{{ p.logo }}"><span class="txtNombre">{{p.nombre}}</span></li>
                {% endfor %}
			</ul>


			<ul id="listaAditivos">
               <h2>Aditivos</h2>
                {% for p in aditivosPan %}
                <li style="background: white"><span class="precio">{{p.precio}}</span><img src="{{ p.logo }}"><span class="txtNombre">{{p.nombre}}</span></li>
                {% endfor %}
			</ul>


			<ul id="listaRelleno">
                <h2>Rellenos</h2>
                {% for p in relleno %}
                    <li style="background: white"><span class="precio">{{p.precio}}</span><img src="{{ p.logo }}"><span class="txtNombre">{{p.nombre}}</span></li>
                {% endfor %}
			</ul>


			<ul id="listaCubierta">
                <h2>Cubierta</h2>
                {% for p in cubierta %}
                    <li style="background: white"><span class="precio">{{p.precio}}</span><img src="{{ p.logo }}"><span class="txtNombre">{{p.nombre}}</span></li>
                {% endfor %}
			</ul>

            <ul id="listaToppings">
                 <h2>Toppings</h2>
                {% for p in toppings %}
                    <li style="background: white"><span class="precio">{{p.precio}}</span><img src="{{p.logo}}"></li>
                {% endfor %}
			</ul>
        </section>


         <div id="pastel">
            <img src="{% static 'imgs/open.png' %}">
            <br>
{#             <button type="button" class="btn btn-default" onclick="deshacerSeleccion()">Regresar</button>#}
{#             <a href="/contacto"> <button type="button" class="btn btn-default"><span>Total: $<span id='total'>0</span></span></button></a>#}
{#             <button type="button" class="btn btn-default"><span>Total: $<span id='total'>0</span></span></button>#}
            <span style="background-color: white"id="back" onclick="deshacerSeleccion()">Regresar</span>
            <span style="background-color: white"id="precio">Total: $<span id='total'>0</span></span>

{#            <div id="precio"><span>Total: $<span id='total'>0</span></span></div>#}
        </div>
    <ul id="listaSeleccion">

    </ul>
<br><br>
{#        <label>Topping:</label>#}
        <span style="background-color: white"id="back">Toppings: <span id='seleccionActual'></span></span>
{#        <p id="seleccionActual"></p>#}
    </div>
	</body>
</html>

	{% endblock %}