{% extends "base.html" %}
{% block title %}FAQ{% endblock %}
{% block head %}<link rel="stylesheet" href="/static/css/faq.css">{% endblock %}
{% block content %}

	<br><br><br>

    <section class="faq text-center">
    <div class="container">
        <h1>Preguntas Frecuentes</h1>
        <hr>
    </div>
    </section>


    <section>
        <div class="container">

            <button class="accordion">¿Cuánto tiempo se requiere para hacer un pedido?</button>
            <div class="panel">
                <p>Se requiere realizar el pedido al menos 1 semana antes</p>
            </div>

            <button class="accordion">¿Cuál es la forma de entrega?</button>
            <div class="panel">
                <p>Puede pasar a recogerlo o entregamos a domicilio, este último implica un costo extra.</p>
            </div>

            <button class="accordion">¿Qué hago si algunas cosas no están en la página?</button>
            <div class="panel">
                <p>Una vez realizada la cotización, realiza el envío de esta misma y nos pondremos en contacto por correo.</p>
            </div>

            <button class="accordion">¿Puedo solicitar que cambien cierto ingrediente del pastel?</button>
            <div class="panel">
			    <p> Si. Ese tipo de cambios y detalles se acuerdan por correo una vez enviada la solicitud.</p>
            </div>

            <button class="accordion">¿Cómo pago mi pedido?</button>
            <div class="panel">
                <p> Se requiere pagar la mitad del pedido al iniciar y la otra mitad cuando se entrega. La forma de pago se aclarará por correo.</p>
            </div>


        <script type="text/javascript" src="/static/js/faq.js"></script> <!--El script se carga al final del body, en el header no -->

      </div>
    </section>
{% endblock %}