{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="static/imgs/favIcon.png">
    <title>FAQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppiins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500"rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="http://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    <style>
            button.accordion {
              background-color: #DDEEFC;
              color: black;
              cursor: pointer;
              padding: 18px;
              width: 90%;
              border: none;
              text-align: left;
              outline: none;
              font-size: 25px;
              font-family: sans-serif;
              transition: 0.4s;
            }

            button.accordion.active, button.accordion:hover {
              background-color: #DDFCFC;

            }

            div.panel {
              background: #ffffff;
              padding: 50px 0 30px 0;
              text-align: center;
              /*margin-top: 40px;*/
              font-size: 10px;
              max-width:110;
              max-height: inherit;
              display: none;
              /*background-color: white;*/
            }
    </style>
    </head>

    <body>
     <div id = "myNavbar"class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">


            <a href="#" class="navbar-brand">Pastelería&nbspD&C</a>
          </div>


        </div>
      </div>

       <section class="faq text-center">
          <div class="container">
            <h1>Preguntas Frecuentes</h1>
            <hr>
            <p class="lead">Pitos dieras</p>
          </div>
      </section>



      <section>
        <div class="container">

            <!-- <h2>Accordion</h2> -->

            <button class="accordion">¿Cuanto tiempo se requiere para hacer un pedido?</button>
            <div class="panel">
              <p>Se requiere realizar el pedido al menos 1 semana antes</p>
          </div>

            <button class="accordion">¿Cual es la forma de entrega?</button>
            <div class="panel">
              <p>Puede pasar a recogerlo o entregamos a domicilio, este ultimo implica un costo extra.</p>
            </div>

            <button class="accordion">¿Que hago si algunas cosas no estan en la pagina?</button>
            <div class="panel">
              <p>Una vez realizada la cotizacion, realiza el envio de esta misma y nos pondremos en contacto por correo.</p>
            </div>

            <button class="accordion">¿Puedo solicitar que cambien cierto ingrediente del pastel?</button>
            <div class="panel">
              <p> Se requiere pagar la mitad del pedido al iniciar y la otra mitad cuando se entrega. La forma de pago se aclarara por correo.</p>
            </div>


            <button class="accordion">¿Como pago mi pedido?</button>
            <div class="panel">
              <p>              Si. Ese tipo de cambios y detalles se acuerdan por correo una vez enviada la solicitud.
</p>
              </div>


            <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
              acc[i].onclick = function(){
                  this.classList.toggle("active");
                  var panel = this.nextElementSibling;
                  if (panel.style.display === "block") {
                      panel.style.display = "none";
                  } else {
                      panel.style.display = "block";
                  }
              }
            }
              </script>
      </div>
    </section>


    <footer>
      <h5 class="text-center">Pastelería D&C Copyright &copy; 2017</h5>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script>
      window.sr = ScrollReveal();
      sr.reveal('.navbar', {
        duration: 2000,
        origin:'bottom'
      });

      sr.reveal('.showcase-left', {
        duration: 2000,
        origin:'top',
        distance:'300px'
      });

      sr.reveal('.showcase-right', {
        duration: 2000,
        origin:'right',
        distance:'300px'
      });

      sr.reveal('.info2-btn', {
        duration: 2000,
        delay: 1000,
        origin:'bottom',

      });
      sr.reveal('.testimonial-btn', {
        duration: 2000,
        delay: 1000,
        origin:'bottom',

      });
      sr.reveal('.info1-btn', {
        duration: 2000,
        delay: 1000,
        origin:'bottom',

      });

      sr.reveal('#testimonial div', {
        duration: 2000,
        origin:'bottom',

      });

      sr.reveal('.info-left', {
        duration: 2000,
        origin:'left',
        distance:'300px',
        viewFactor: 0.2

      });

      sr.reveal('.info-right', {
        duration: 2000,
        origin:'right',
        distance:'300px',
        viewFactor: 0.2

      });
    </script>

    <script>
    $(function() {
      // Smooth Scrolling
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>

  </body>
</html>
