{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="static/imgs/favIcon.png">
    <title>FAQ</title>
    <link href="https://fonts.googleapis.com/css?family=Poppiins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500"rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/pene.css' %}">

    <script src="http://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    </head>

    <body>
      <div id = "myNavbar"class="navbar navbar-default navbar-fixed-top" role="navigation">
         <div class="container">
           <div class="navbar-header">

               <button type="button" class="navbar-toggle collapsed  " data-toggle="collapse" data-target=".navbar-collapse">
                 <!--  Code for the hamburger icon-->
                 <!-- <span class="sr-only">Toggle navigation</span> -->
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>

               <a href="#" class="navbar-brand">Pastelería&nbspD&C</a>
           </div>

           <div class="collapse navbar-collapse">
             <ul class="nav navbar-nav navbar-right">
               <li><a href="#showcase">Home</a></li>
               <li><a href="#info1">Galeria</a></li>
               <li><a href="#testimonial">Cotizaciones</a></li>
               <li><a href="#foot">Contactanos</a></li>
               <li><a href="#foot">FAQ</a></li>
             </ul>
           </div>
         </div>
       </div>

       <section class="faq text-center">
          <div class="container">
            <h1>Preguntas Frecuentes</h1>
            <hr>
            <p class="lead">Pitos dieras</p>
          </div>
      </section>

<section>
  <div class="container">
    <!-- <div class="container"> -->
      <div class="tiles">
      	<div  class="col-xs-4 col-md-4">
              <a class="collapsed button blue" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Pedidos
              </a>
          </div>
          <div  class="col-xs-4 col-md-4">
              <a class="collapsed button orange" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Entregas
              </a>
          </div>
          <div  class="col-xs-4 col-md-4">
              <a class="collapsed button green" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Cambios
              </a>
          </div>
      </div>
      <div class="panel-group" id="accordion">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          ¿Cuanto tiempo se requiere para hacer un pedido?
                      </a>
                  </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                      <h5>What’s driving this effort?</h5>
                      <p>Competitive pressure and changing customer preferences continues to spark our thinking – driving new ways to look at what we do, how we do it and how to do it faster. We believe that the more we strengthen and connect associate performance to business success, the more success we will all share.</p>
                      <h5>What's changing?</h5>
                      <p>We are making changes to our talent management processes and compensation design, in order to drive higher individual and company performance. We are:</p>
                      <ul>
                      	<li>Enhancing our tools and capabilities to enable us to better differentiate associate performance and rewards</li>
                      	<li>Creating a more balanced approach to incent short and long-term results, behaviors and decision-making</li>
                      	<li>Enabling a stronger coaching environment focused on developing our talent today and tomorrow</li>
                      	<li>Designing pay and performance practices to help ensure we get and keep the best talent</li>
                      </ul>
                      <h5>Who will be affected by these compensation and talent management?</h5>
                      <p>Compensation changes will affect officers who are part of U.S. Payroll on February 4, FY18. Changes to our talent management processes will affect all officers in FY18.  In addition, changes to our goal setting and feedback processes will apply to associates who report directly to officers.</p>
                      <h5>See full list of <a href="default.ashx?CLASSNAME=RESOURCEHANDLER&amp;ID=%2509p%25e0%250652%25f6%255d%25b3%25a6%257d%2540%25b5%2509l%25bc" target="_blank">General FAQ’s (PDF) </a></h5>
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                          ¿Cual es la forma de entrega?
                      </a>
                  </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                      <h5>What are we aiming to improve in terms of Talent Management?</h5>
                      <p>To deliver the best associate experience we need to reach and engage associates through meaningful discussions and help them understand how to grow and development in the future. To do this, we must get a few key items right:</p>
                      <ul>
                      	<li>Performance: will help associates and managers understand the new skills for the future.  We will provide clarity regarding high performance.</li>
                      	<li>Approach: we will help drive efficiency by reducing the administrative aspects of performance management to enable more time to focus on developing associates.</li>
                      	<li>Simplified Tools and Processes: we will support managers by creating create greater opportunity for real-time feedback. We’ve also built a mobile app to create a more engaging experience and support associate growth, development and engagement. </li>
                      </ul>
                      <h5>What are the expectations for providing feedback?</h5>
                      <p>At Walmart, we expect all associates to commit to help each other develop and improve. To support this effort, we will define what ‘great’ looks like, provide training to build better feedback skills and create tools to help facilitate the process. All associates need and want feedback. This should be from manager-to-associate, associate-to-manager, peer-to-peer, and cross-functionally.  While traditional methods will still be available (e.g., evaluations, 360s), we want to create an environment where more ‘real-time’ feedback is given throughout the year.</p>
                      <h5>See full list of <a href="default.ashx?CLASSNAME=RESOURCEHANDLER&amp;ID=%25cfb%25ce%257e%25dd%257df%2516%25d7%25e7%259f%25f6%2518%2540%2507y" target="_blank">Talent FAQ’s (PDF) </a></h5>
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                          ¿Puedo solicitar que cambien cierto ingrediente del pastel?
                      </a>
                  </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                      <h5>Why are these compensation changes only focused on U.S. officers?</h5>
                      <p>Implementing compensation changes for international officers is more complex and regulated differently country to country. While our initial focus is on U.S. officers, as we move forward, the changes will look different in every market. What will be consistent is our commitment to drive the right behaviors, to appropriately balance short and long term decision-making and to deliver exceptional company performance.</p>
                      <h5>What are the specific changes for FY18 and FY19?</h5>
                      <p>New in FY18:</p>
                      <ul>
                      	<li>Reduced MIP Opportunity that will be redistributed to base salary and Performance Equity.</li>
                      	<li>Enhanced opportunity for Leaders to differentiate annual salary increase amounts within specified ranges and budget.</li>
                      	<li>Added a new special award program to recognize real time contributions.</li>
                      </ul>
                      <p>New in FY19:</p>
                      <ul>
                      	<li>Performance-based equity grant award values based on performance rating.</li>
                      	<li>Leaders will be able to differentiate Retention Stock and annual salary increase amounts within a budget.</li>
                      </ul>
                      <h5>How will the compensation changes differentiate how we reward top performers?</h5>
                      <p>Top performers will now have the opportunity to receive a higher annual salary increase, to receive additional development opportunities and may be eligible to receive special awards. In FY19 high performers will also be eligible for increased Performance Equity grant award values and potentially higher Retention Stock grants.</p>
                      <h5>See full list of <a href="default.ashx?CLASSNAME=RESOURCEHANDLER&amp;ID=%253c%25cc%2518%25f5fe%253b%25ff%251e%2516%251c%257b%25e2%2598%25a4%253b%2512%25da%253a%2585%25feU%25cd%2505%253e%25e1Nv6%251e%25bf%25f8" target="_blank">Compensation FAQ’s (PDF)</a></h5>
                  </div>
              </div>
          </div>
      </div>
  <!-- </div> -->
  </div>
</section>

     <!-- <section id="ACD"># -->
       <!-- <div class="container">#} -->
           <!-- <h2>Accordion</h2> -->
<!-- {##}
{#            <button class="accordion">¿Cuanto tiempo se requiere para hacer un pedido?</button>#}
{#            <div class="panel">#}
{#              <p>Se requiere realizar el pedido al menos 1 semana antes</p>#}
{#          </div>#}
{##}
{#            <button class="accordion">¿Cual es la forma de entrega?</button>#} -->
<!-- {#            <div class="panel">#}
{#              <p>Puede pasar a recogerlo o entregamos a domicilio, este ultimo implica un costo extra.</p>#}
{#            </div>#}
{##}
{#            <button class="accordion">¿Que hago si algunas cosas no estan en la pagina?</button>#}
{#            <div class="panel">#}
{#              <p>Una vez realizada la cotizacion, realiza el envio de esta misma y nos pondremos en contacto por correo.</p>#}
{#            </div>#}
{##}
{#            <button class="accordion">¿Puedo solicitar que cambien cierto ingrediente del pastel?</button>#}
{#            <div class="panel">#}
{#              <p> Se requiere pagar la mitad del pedido al iniciar y la otra mitad cuando se entrega. La forma de pago se aclarara por correo.</p>#}
{#            </div>#}
{##}
{##}
{#            <button class="accordion">¿Como pago mi pedido?</button>#}
{#            <div class="panel">#}
{#              <p>              Si. Ese tipo de cambios y detalles se acuerdan por correo una vez enviada la solicitud.#}
{#              </p>#}
{#              </div>#}
{##}
{##}
{#            <script>#}
{#            var acc = document.getElementsByClassName("accordion");#}
{#            var i;#}
{##}
{#            for (i = 0; i < acc.length; i++) {#}
{#              acc[i].onclick = function(){#}
{#                  this.classList.toggle("active");#}
{#                  var panel = this.nextElementSibling;#}
{#                  if (panel.style.display === "block") {#}
{#                      panel.style.display = "none";#}
{#                  } else {#}
{#                      panel.style.display = "block";#}
{#                  }#}
{#              }#}
{#            }#}
{#              </script>#}
{#      </div>#}
{#    </section>#}
 -->

    <footer>
      <h5 class="text-center">Pastelería D&C Copyright &copy; 2017</h5>

    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script>
      window.sr = ScrollReveal();
      sr.reveal('.navbar', {
        duration: 2000,
        origin:'bottom'
      });

      sr.reveal('.showcase-left', {
        duration: 2000,
        origin:'top',
        distance:'300px'
      });

      sr.reveal('.showcase-right', {
        duration: 2000,
        origin:'right',
        distance:'300px'
      });

      sr.reveal('.info2-btn', {
        duration: 2000,
        delay: 1000,
        origin:'bottom',

      });
      sr.reveal('.testimonial-btn', {
        duration: 2000,
        delay: 1000,
        origin:'bottom',

      });
      sr.reveal('.info1-btn', {
        duration: 2000,
        delay: 1000,
        origin:'bottom',

      });

      sr.reveal('#testimonial div', {
        duration: 2000,
        origin:'bottom',

      });

      sr.reveal('.info-left', {
        duration: 2000,
        origin:'left',
        distance:'300px',
        viewFactor: 0.2

      });

      sr.reveal('.info-right', {
        duration: 2000,
        origin:'right',
        distance:'300px',
        viewFactor: 0.2

      });
    </script>

    <script>
    $(function() {
      // Smooth Scrolling
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>

  </body>
</html>
