{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static ' imgs/favIcon.png ' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppiins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500"rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <script src="http://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    <title>Pasteleria</title>
  </head>
  <body>

    <header>
      <!-- barra de menu -->
      <div class="row">
        <div class="logo">
          <img src="{% static 'imgs/pitospitos.png' %}">
        </div>
        <div class="container">
          <ul class="main-nav">
            <li><a href="#fea">Nosotros <i class="fa fa-birthday-cake"></i></a></li>
            <li><a href="https://www.facebook.com/pg/Postres-y-Manualidades-DC-1107812365899116/photos/?ref=page_internal">Galería <i class="fa fa-facebook-official"></i></a></li>
            <li><a href="/cotizaciones/">Cotización <i class="fa fa-money"></i></a></li>
            <li><a href="/contacto/">Contáctanos <i class="fa fa-envelope-o"></i></a></li>
            <li><a href="#faq">FAQ <i class="fa fa-comments"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- logo pendejo y mas babosadas  -->
      <div class="container">
        <div class="hero">
          <h1>Pastelería<p>D&C</p></h1>
          <div class="button-awe">
            <a href="/contacto/"class="btn btn-half">Contáctanos</a>
            <a href="/cotizaciones/"class="btn btn-full">Cotizar</a>
          </div>
        </div>
      </div>
    </header>

    <section id="fea"class="fea">
      <!-- <div class="container"> -->
        <h3 class="text-center">Nosotros</h3>

        <div class="container">
          <p class="text-center">Somos un pequeño negocio de pasteles que busca facilitar la vida de nuestros
          clientes mediante la preparación de cualquier pastel que desee a un precio económico, eso sin descuidar
          el gran sabor y la calidad de nuestros pasteles.Para nosotros lo más importante es garantizar la
          higiene en nuestro trabajo, el sabor, la apariencia, la calidad en nuestros ingredientes, así como la confianza, honestidad y responsabilidad hacia nuestros clientes.
          </p>
        </div>
      </section>

      <section id="ram"class="ram">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h4>Galería <i class="fa fa-camera-retro"></i></h4>
                <p class="pene" id="gal">¿Aún no te decides si quieres contratarnos para tu evento especial? Mira nuestra galería de trabajos realizados dando click al siguiente enlace, y ¡convencete que somos tu mejor opción!</p>
                <a id="gal" class="btn btn-half" href="https://www.facebook.com/pg/Postres-y-Manualidades-DC-1107812365899116/photos/?ref=page_internal">Galeria</a>
            </div>
            <div class="col-md-6">
              <img src="{% static 'imgs/prueba2.png' %}">
            </div>
          </div>
        </div>
      </section>

      <section id="faq"class="faq">
        <h3 class="text-center">Preguntas Frecuentes</h3>
        <div class="container">
          <p class="text-center">¿Dónde estamos ubicados?¿Métodos de pago?¿Cómo hago un pedido? Preguntas frecuentes en esta sección</p>
        </div>
      </section>
      <section id="respuestas">
        <div class="container">
          <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'London')">Pedidos</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Entregas</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Cambios</button>
            <!-- <button class="tablinks" onclick="openCity(event, 'Rome')">Modos de pago</button> -->
          </div>

          <div id="London" class="tabcontent">
            <h5>¿Cuánto tiempo se requiere para hacer un pedido?</h5>
            <p>Se requiere realizar el pedido al menos 1 semana antes.</p>
          </div>

          <div id="Paris" class="tabcontent">
            <h5>¿Cuál es la forma de entrega?</h5>
            <p>Puede pasar a recogerlo o entregamos a domicilio, este ultimo implica un costo extra.</p>
          </div>

          <div id="Tokyo" class="tabcontent">
            <h5>¿Puedo solicitar que cambien cierto ingrediente del pastel?</h5>
            <p>Si. Ese tipo de cambios y detalles se acuerdan por correo una vez enviada la solicitud</p>
          </div>
          <!-- <div id="Rome" class="tabcontent">
            <h4>¿Cómo pago mi pedido?</h4>
            <p>Tokyo is the capital of Japan.</p>
          </div> -->
        <!-- </div> -->
        </div>

      </section>
      <br>
      <footer>

        <p class="text-center">Pastelería D&C Copyright &copy; 2017</p>
      </footer>
      <script>
      window.sr = ScrollReveal();
        sr.reveal('.navbar', {
          duration: 2000,
          origin:'bottom'
        });
      sr.reveal('.hero h1', {
        duration: 2000,
        delay: 500,
        origin:'bottom',

         });


         sr.reveal('.fea', {
           duration: 2000,
           delay: 1000,
           origin:'bottom',

         });

         sr.reveal('.btn-half', {
           duration: 2000,
           delay: 1000,
           origin:'bottom',

         });
         sr.reveal('.btn-full', {
           duration: 2000,
           delay: 1000,
           origin:'bottom',

         });
         sr.reveal('.pene', {
           duration: 2000,
           delay: 1000,
           origin:'bottom',

         });
         sr.reveal('.ram gal', {
           duration: 2000,
           delay: 1000,
           origin:'bottom',

         });
         sr.reveal('.ram h4', {
           duration: 2000,
           delay: 1000,
           origin:'bottom',

         });

         sr.reveal('.faq ', {
           duration: 2000,
           delay: 1000,
           origin:'bottom',

         });
         sr.reveal('.tab', {
           duration: 2000,
           delay: 1000,
           origin:'bottom',

         });
      </script>
    <script>
    $(function() {
      // Smooth Scrolling
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>
    <!-- faq script -->
    <script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

  </body>
</html>
