
{% extends "base.html" %}

{% block title %}Pastelería{% endblock %}

{% block head %}
	<link rel="stylesheet" href="static/css/style.css">
{% endblock %}

{% block content %}

    <br><br><br>

    <section id="showcase">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="showcase-left">
				<img src="{{'static/imgs/pirru.jpg' }}">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="showcase-right">
              <h1>Nosotros</h1>
              <p class="text-justify">Somos un pequeño negocio de pasteles que busca facilitar la vida de nuestros
			  clientes mediante la preparación de cualquier pastel que desee a un precio economico, eso sin descuidar
			  el gran sabor y la calidad de nuestros pasteles. Para nosotros lo más importante es garantizar la
			  higiene en nuestro trabajo, el sabor, la apareciencia, la calidad en nuestros ingredientes, asi como
              la confianza,honestidad y responsabilidad hacia nuestros clientes.</p>
            </div>
          </div>

        </div>
      </div>
    </section>


    <hr>

    <section id="info1">
    <div class="container">
      <div class="row">
        <div class="col-md6 col-sm-6">
          <div class="info-left">
            <h2>Galeria</h2>
                   <p class="text-justify">¿Aún no te decides si quieres contratarnos para tu evento especial?
                     Mira nuestra galeria de trabajos realizados dando click al siguiente enlace, y ¡convencete
                     que somos tu mejor opción!</p>
                     <!-- por ahora manda a la galeria de facebook-->
                     <a class="btn btn-default btn-1g info1-btn" href="https://www.facebook.com/pg/Postres-y-Manualidades-DC-1107812365899116/photos/?ref=page_internal">Galeria</a>
                     <!-- <p class = "text-left"><button type="button" class="btn btn-default" >Galeria</button></p> -->
          </div>
        </div>
        <div class="col-md6 col-sm-6">
          <div class="info-right">
          <img src="{{'static/imgs/prueba2.png'}}">
          </div>
        </div>
      </div>
    </div>
    </section>

        <hr>

    <section id="testimonial">
        <div class="container">
        	  <div class="row">
              <div class="col-md-6 col-sm-6">
                  <div class="testimonial-right">
				<img src="{{'static/imgs/mona.jpg' }}">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="testimonial-right">
              <h2>Cotizaciones</h2>
              <p class="text-justify">Utilice nuestra herramienta para cotizar un pastel, si desea algún diseño
	    	en especifico no dude en enviarnos un mensaje desde nuestro formulario de contacto para contestarle a
                  la brevedad.</p>
        <a class="btn btn-default btn-1g testimonial-btn" href="#">Cotizacion</a>
            </div>
          <br>
          </div>

        </div>

    	</div>

    </section>

   <hr>

    <section id="info2">
    <div class="container">
      <div class="row">
        <div class="col-md6 col-sm-6">
          <div class="info-left">
            <h2 class="text-center">FAQ</h2>
            <p class="text-center">¿Dónde estamos ubicados?¿métodos de pago?¿cómo hago un pedido? preguntas frecuentes en esta sección</p><br>
            <div class="form-actions">
              <a class="btn btn-default btn-1g info2-btn " href="/faq/">FAQ</a>
            </div>

          </div>
        </div>
        <div class="col-md6 col-sm-6 text-align:center">
          <div class="info-right">
            <h2 class="text-center">Contáctanos</h2>
            <p class="text-center">¿Quiéres cotizar un pastel con un diseño especifico?¿tu duda no aparece en nuestro FAQ? ¡Contáctanos!</p><br>
            <div class="form-actions">
              <a class="btn btn-default btn-1g info2-btn " href="/contacto/">Contáctanos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

    <hr>

{% endblock %}